.debug .my_side{
    height: calc(100vh - 82px);
    width: 10%;

}
.debug .content{
    width: 90%;
    height: calc(100vh - 82px);
    background-color: palegoldenrod;
    overflow-y: auto;
}

.col{
    border: 1px dashed;
}

main{
    height: calc(100vh - 100px);
}
/* general */

ul{
    list-style: none;
}


/* utilities */

.max100{
    max-width: 100%;
}

/* nav */

nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.fa-bell{
    color: orange;
}

.my_bg_lightgray{
    background-color: lightgrey;
}

.nav_icons a{
    color: gray;
}

/* side bar */

.my_side{
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    background-size: cover;
}

.sidebar_icons a{
    font-size: 1.5rem;
    color: white;
}

/* content */

.main_nav{
    background-color: #1b72e8;
}

.menu_nav_badge{
    background-color: #165bba;
}

/* responsive */

@media screen and (max-width:991px) {
    .lg_logo,
    .nav_icons,
    .menu_lg{
        display: none;
    }    
}

@media screen and (min-width:992px){
  .mobile_logo{
    display: none;
  }  
  .lg_logo{
    display: inline-block;
  }
  .sidebar_icons a{
    font-size: 1rem;
    color: white;
}
.content,
.my_side{
    height: calc(100vh - 68px)!important;
}
.sidebar_icons span{
    font-size: 0.75rem;
}
}
